# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Attachment/Library/metadata/2d/2d9a19810aa0e4c47a097262b4e2d743
*.info
Attachment/Library/metadata/41/41a1a725b93c249d99f886b99023d66e
Attachment/Library/metadata/41/41a1a725b93c249d99f886b99023d66e.resource
Attachment/Library/metadata/f6/f696ccaca349b4612a3f5159a99132ce
Attachment/Library/metadata/2d/2d9a19810aa0e4c47a097262b4e2d743
Attachment/Library/metadata/f0/f014b5d7bce174614b31b985b70e0cc3.resource
Attachment/Library/metadata/f6/f696ccaca349b4612a3f5159a99132ce
